// main: ../main_style.less   

.intro {

    @media @mobile {
        margin-top: 130px;
    }
}


.intro__inner {
    display: flex;
    padding-top: 6.6rem;
    padding-bottom: 8rem;

    //background: url("../images/symbols.png") right bottom no-repeat;
    border-bottom: 1px solid fade(@gray, 30%);
    position: relative;

    // @media @tablet {
    //     padding-top: 3rem;
    //     padding-bottom: 3rem;
    // }
    @media @mobile {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.intro__content {
    width: 50%;

    @media @mobile-sm {
        width: 100%;
    }
}
.intro__photo {
    width: 50%;

    @media @mobile-sm {
        display: none;
    }
}

.intro__smartphone__photo {
    display: none;

    @media @mobile-sm {
        display: block;
        margin-bottom: 30px;
    }
}

.intro__img {

    display: block;
    width: 334px;
    height: 400px;
    border-radius: 40%;

    position: absolute;
    bottom: 60px;
    right: 0;
    z-index: 1;

    @media @tablet {
        width: 300px;
    }

    @media @mobile-sm {
        width: 300px;
        height: 350px;
        position: relative;
        bottom: 0;
    }
}

// H1, H2 & Txts
.intro__subtitle {
    font-size: 2.13rem;
    color: @black;
    font-weight: 200;
    margin-bottom: 10px;

    @media @tablet {
        font-size: 1.5rem;
    }
}

.intro__title {
    margin-bottom: 12px;
    font-size: 3rem;
    color: @black;
    font-weight: 700;

    @media @tablet {
        font-size: 1.9rem;
    }
}

.intro__txt {
    margin-bottom: 25px;

    font-size: 1.5rem;
    color: fade(@black, 70%);
}